<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ESCAPE THE ROOM</title>

<link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
<link rel="manifest" href="../images/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<link href="../../css/main.css" rel="stylesheet" />

<script  src="http://code.jquery.com/jquery-3.6.0.js"></script>

<style>
img.nextChapter{
	display : none;
}
img.answer{
display : none;
}

</style>

</head>

<body>

<main class="wrap">
	<h1>ESCAPE THE ROOM</h1><br><br>
		<div class="title" style="text-align : center;">
			<img src="../images/title2.png">
		</div>
		<section id="window_main">
			<article id="face1"></article>
			
			<div id="play">
				<img class="pic" id="scene" src="../images/chapter5/1.gif" ></img>
			</div>
		</section>
		<section id="window_bag">
			<article class="face2"></article>
				<div id="history">
				<a id="history1" href="http://localhost:8080/SeyCheese/html/index.html">- 세양쥐는 치즈가 먹고 싶어</a>
				<br><br>
				<a id="history2" href="http://localhost:8080/SeyCheese/html/prologue.html">- 모험을 떠나자!</a>
				<br><br>
				<a id="history3" href="http://localhost:8080/SeyCheese/html/chapter1.html">- 고양이와 털실</a>
				<br><br>
				<a id="history4" href="http://localhost:8080/SeyCheese/html/chapter2.html">- 테이블 위로</a>
				<br><br>
				<a id="history5" href="http://localhost:8080/SeyCheese/html/chapter3.html">- 치즈의 행방은?! </a>
				<br><br>
				<a id="history6" href="http://localhost:8080/SeyCheese/html/chapter4.html">- 어디선가 들리는 목소리 </a>
				<br><br>
				<a style="font-weight:bold;" id="history7" href="http://localhost:8080/SeyCheese/html/chapter5.html">- 일단은... 여기까지! ◀ </a>
				</div>
		</section>
		<section id="speech">
			<article class="face3"></article>
			<div id="con">여기까지 즐겨주셔서 감사합니다. 앞으로도 이어질 세양쥐의 모험을 응원해주세요!</div>
		</section>
		<section id="community">
			<article class="face4"><a href="#"></a></article>
		</section>
	</main>
</body>
</html>