<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: html-head">
    <meta charset="UTF-8">
    <title>세양쥐게임즈🐭</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/common :: header(${requestFrom})">-- thymeleaf header will be inserted here. --</div>
    <div class="row">
        <div class="col-md-6 my-4">
            <h1 th:text="${boardTitle}">세양쥐게임즈🐭</h1>
        </div>
        <br><br>
        <div class="col-md-6 my-4">
            <h3>세양쥐컴퍼니 제작 게임 목록</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <table class="thead-strong table table-secondary">
                    <tr>
                        <td><a th:href="${'/'+requestFrom+'/seyCheese/'+'index'}">
                            <img style="width:300px; height:300px;" src="/images/seyCheese_thumb.jpg">
                        </a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 .offset-md-1">

            </div>
            <div class="col-md-2 .offset-md-1">

            </div>
            <div class="col-md-2 .offset-md-1">

            </div>
        </div>
    </div>
    <h1></h1>
    <div th:replace="fragments/common :: footer">-- thymeleaf footer will be inserted here. --</div>
</div>

</body>
</html>