<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: html-head">
    <meta charset="UTF-8">
    <title>세양쥐게임즈🐭</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:replace="fragments/common :: header(${requestFrom})">-- thymeleaf header will be inserted here. --</div>
    <div class="row">
        <div class="col-md-6 my-4">
            <h1 th:text="${boardTitle}">세양쥐게임즈🐭</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            세양쥐컴퍼니 제작 게임 목록
            <br><br><br>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <table class="thead-strong table table-secondary">
                    <tr>
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                            <div class="card-header">세양쥐의 모험 시리즈의 시작</div>
                            <div class="card-body">
                                <h4 class="card-title">(Beta)세양쥐는 치즈가 먹고 싶어</h4>
                                <p class="card-text">세양쥐의 치즈를 먹기 위한 모험 이야기! 방탈출/추리/두뇌퀴즈 장르입니다.</p>
                                <div>
                                    <a th:href="${'/'+requestFrom+'/seyCheese'}">
                                        <img style="width:300px; height:300px;" src="/images/seyCheese_thumb.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
            <div class="col-md-3 .offset-md-1">

            </div>
            <div class="col-md-3 .offset-md-1">

            </div>
        </div>
    </div>
    <h1></h1>
    <div th:replace="fragments/common :: footer">-- thymeleaf footer will be inserted here. --</div>
</div>

</body>
</html>